/* RESET GENERAL */

* {
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Cambay', sans-serif;
}
/*Grid*/

.container {
    margin: 0 auto;
    width:100%;
    max-width: 1920px;
}

.row:before, .row:after {
    content : "";
    display: table;
    clear: both;
}


[class*='col-'] {
    float: left;
  }

  .col-xs-1 {
    width: 8.33333333%;
  }
  
  .col-xs-2 {
    width: 16.66666667%;
  }
  
  .col-xs-3 {
    width: 25%;
  }
  
  .col-xs-4 {
    width: 33.33333333%;
  }
  
  .col-xs-5 {
    width: 41.66666667%;
  }
  
  .col-xs-6 {
    width: 50%;
  }
  
  .col-xs-7 {
    width: 58.33333333%;
  }
  
  .col-xs-8 {
    width: 66.66666667%;
  }
  
  .col-xs-9 {
    width: 75%;
  }
  
  .col-xs-10 {
    width: 83.33333333%;
  }
  
  .col-xs-11 {
    width: 91.66666667%;
  }
  
  .col-xs-12 {
    width: 100%;
  }
  
  /*Estilos */
  .header {
    height: 60px;
    background-color: #795164;
    padding:5px;
  }
  
  .logo, .icon-menu {
    vertical-align: middle;
    display:inline-block;
    color:#000;
  }
  .icon-menu {
    float:right;
    transform: translateY(30%);
    width: 40px;
    height: 40px;
    background-color: #795164;
    cursor: pointer;
  }
  /*-Estilos del nav----*/
  .nav {
    position: absolute;
    top: 60px;
    left: -100%;
    width: 100%;
    transition: all 0.4s;
  }
  .menu {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  .menu-link {
    display:block;
    padding: 15px;
    background-color:#000;
    text-decoration: none;
    color: #FFF;
  }
  .menu-link:hover, .select {
    background: #FFF;
    color: #42113f;
  }
  .mostrar {
    left: 0;
  }

  /* Estilos Banner */
.banner {
    color: #fff;
    height: 200px;
    background-image: url(../assets/images/wallpaper.jpg);
    background-size:100% 100%;
}
.tagline {
    padding: 15% 0px;
}

/* Estilos  about section */

.about {
    background-color:#2078bf;
}

/*EStilos products section */

.clothing, .figures, .vinyl {
    background-color:#748796;
}